body{
  color: black!important;
}
.cart {
  padding: 1em;
  /* width: 50%;
  margin-top: -1cm;
  margin-right: 10%; 
  border-radius: 0.5em; 
   border: 1px solid black;  */

    } 
   table {
    /* border-collapse: collapse; */
    width: 100%;
    /* background-color: #1982c4; */
}
td {
    text-align: center;
    vertical-align: bottom;
    /* height: 50px; */
}

th,
td {
    padding: 15px;
    text-align: left;
    /* border: 1px solid #ccc; */
    /* border: 1px solid whitesmoke ; */

}
td large.pizza{
  background-color: orangered !important;
}
tr{
  background-color: greenyellow;
  /* opacity: 80%; */
  /* border: whitesmoke; */
  color: #000 ;
}
@media(min-width: 768px) {
    /* .Pizzas{
        display: flex;
    } */

    body {
      background-color: #1982c4;
    }
    /* .container{
        display: flex;
    } */
    .Pizzas1{
    display: flex;
   } 
   .cart {
    /* background-color: dodgerblue; */
    /* padding: 1em; */
    width: 100%;
    /* margin-top: -10em; */
    /* border-radius-bottom: 1em; */
}
}
/* .medium_Pizza {
  background-color: #FF595E;

}

.large_Pizza {
  background-color: blueviolet;

} */

.small_Pizza {
  background-color: orange;
  border: whitesmoke;
  

} 
.Pizza2 {

  /* border: solid black; */
  padding: 1em;
  margin: 1em;
  /* border-radius: 1em; */
  flex: 1;
  

}
.message{
  padding: 1em;
  margin: 1em;
  background-color:white;
  width:25%;
}
/* .body{
  margin-left: 25%;
  margin-right: 25%;
} */
.box1{
  /* border: 1px solid; */
  margin: 1em;
  padding: 1em;
  /* border-radius: 1em; */
  background-color: yellow ;
  opacity:0,5;
}
.cart-box {
  display: flex;
  justify-content: flex-end;
  /* background-color: black; */
 
}
.input>label {
  background-color: orangered;
  display: inline-block;
  width: 15em;
  padding: 1em;
  font-weight: bold;
  margin: 1em;
}

.input>input[type="text"] {
  background-color: white;
  /* display: inline-block; */
  /* width: 15em; */
  padding: 1em;
  margin: 1em;
  /* font-weight: bold; */
}
.gfg {
  border-collapse:separate;
  border-spacing:0 15px;

    
}

  .position{
     
    color: whitesmoke;
    
    
   }
    
  .order{
    padding: 2em;
    color: whitesmoke;
    
  }
  .input{
    padding: 2em;
    color: whitesmoke;
  }
  .box4{
    margin-left:20px;
    margin-right: 20px;
  }
  .Hlanganani{
    background-color:blueviolet !important;
  }
  body {
    background:#000;
  }
  .cater3-movingBG {
      height: 100%;
      background-image: url(http://salsaritas.johngroupinteractive.com/wp-content/uploads/2017/06/enchilada-bg.jpg);
      background-size: 125%;
      background-repeat: repeat-x;
      animation: animatedBackground 15s linear alternate infinite;
  }
  
  @keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 50% 0; }
      100% { background-position: 0 0; }
  }
  
  .flyinTxtCont {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-bottom: 10%;
        margin-left: 2em;
  }
  /* .flyIn {
      color:#fff;
      font-family:'Raleway';
      text-transform:uppercase;
      line-height:1.2em;
      position:relative;
    text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  }
  .lineOne {
    transition-delay:.2s; 
    transition:.4s ease in;
    animation: txtFlyIn .3s linear;
  }
  .lineTwo {
      transition-delay:.4s; 
      transition:.6s ease in;
      animation: txtFlyIn .6s linear;
  }
  .lineThree {
      transition-delay:.6s; 
      transition:.8s ease in;
      animation: txtFlyIn .9s linear;
  }
  .lineOne, .lineTwo, .lineThree {
      font-size:110px;
      font-weight: bold;
      letter-spacing: 3px;
    }
  .lineFour {
      transition-delay:2s; 
      transition:2s ease in;
      animation: fadeIn 2s linear;
      width: 100%;
      background-color:rgba(255,255,255,0.9);
      display:inline-block;
      color:#000;
      box-size:border-box;
      max-width:63%;
      max-width: 22em;
      font-size: 32px;
      padding: .2em .5em;
      margin-top: 30px;
  } */
  @keyframes fadeIn{
      0% { opacity:0;}
      100% { opacity:1;}
  }
  @keyframes txtFlyIn{
      0% { transform:translateX(-100%); }
      100% { transform:translateX(0%); }
  }
  .box{
    display: flex;
  }